<!doctype html>
<html lang="en">
<head>
    <title>Dating Website</title>
    <include href="includes/header.html"></include>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <a class="navbar-brand" href="#">Vadim's Dating Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container box-border">
        <div class="row">
            <div class="col text-center">
                <h1>Vadim's Dating Website</h1>
                <p class="text-left">
                    Welcome to <strong>Vadim's Dating Website</strong> where everyone will find their match. I can guarantee you that sooner or later you will find your
                    match and I can guarantee you that this website will help you through each step of the process. This website has helped various people with a
                    wide variety of different backgrounds and every single one of them found their match and are living happily ever after. If you can't find a match
                    I'll personally help you out.
                </p>
            </div>
            <div class="col img-round">
                <img src="images/couples.jpg" alt="Couples Holding Hands">
            </div>
        </div>
    </div>
</body>
</html>