<!doctype html>
<html lang="en">
<head>
    <title>Dating Website</title>
    <include href="includes/header.html"></include>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-color container rounded">
        <a class="navbar-brand text-white" href="#">Vadim's Dating Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container box-border">
        <div class="row">
            <div class="col text-center">
                <h1>Vadim's Dating Website</h1>
                <p class="text-left">
                    Welcome to <strong>Vadim's Dating Website</strong> where everyone will find their match. I can guarantee you that sooner or later you will find your
                    match and I can guarantee you that this website will help you through each step of the process. This website has helped various people with a
                    wide variety of different backgrounds and every single one of them found their match and are living happily ever after. If you can't find a match
                    I'll personally help you out.
                </p>
                <h4>Here what our users are saying about us:</h4>
                <hr>
                <div class="text-left">
                    <p>"I met the love of my life about only a month!" - James</p>
                    <p>"Easiest and most appealing dating website ever" - Sabrina</p>
                    <p>"It was so easy to setup a profile and start meeting new people! I didn't know there were this many people
                    looking around." - Sarah</p>
                    <p>"If I could I would tell everyone to use this dating website" - Jessica</p>
                </div>
                <hr>
                <button type="button" class="btn btn-primary">Create a Profile!</button>
            </div>
            <div class="col">
                <img src="images/couples.jpeg" class="img-round" alt="Couples Holding Hands">
            </div>
        </div>
    </div>
</body>
</html>