<!--
*   Name: Vadim Balan
*   Date: 05/13/2020
*   Description: This is the information page that takes basic info
*   of the user
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Information</title>
    <include href="includes/header.html"></include>
    <link rel="stylesheet" href="/328/dating/styles/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-color container rounded">
        <a class="navbar-brand text-white" href="../../328/dating">Vadim's Dating Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <form action="#" method="post">
        <div class="container box-border form-group">
            <h1>Personal Information</h1>
            <hr>
            <div class="row">
                <div class="col-8">
                    <label for="fName"><strong>First Name</strong></label>
                    <input type="text" class="form-control" id="fName" name="fName" placeholder="First name" value="{{ @fName }}">
                    <span class="err">
                        <check if="{{ isset(@errors['first']) }}">
                            {{ @errors['first'] }}
                        </check>
                    </span>
                    <br>
                    <label for="lName"><strong>Last Name</strong></label>
                    <input type="text" class="form-control" id="lName" name="lName" placeholder="Last name" value="{{ @lName }}">
                    <span class="err">
                        <check if="{{ isset(@errors['last']) }}">
                            {{ @errors['last'] }}
                        </check>
                    </span>
                    <br>
                    <label for="age"><strong>Age</strong></label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="Age" value="{{ @age }}">
                    <span class="err">
                        <check if="{{ isset(@errors['age']) }}">
                            {{ @errors['age'] }}
                        </check>
                    </span>
                    <br>
                    <label><strong>Gender</strong></label>
                    <div>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Female</label>
                    </div>
                    <br>
                    <label for="phone"><strong>Phone Number</strong></label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="222-333-4444" value="{{ @phone }}">
                    <span class="err">
                        <check if="{{ isset(@errors['phone']) }}">
                            {{ @errors['phone'] }}
                        </check>
                    </span>
                </div>
                <div class="col-4">
                    <p><strong>Note: </strong>All information entered is protected by our <a>privacy policy.</a> Profile
                    information can only be viewed by others with your permission.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>