<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interests</title>
    <include href="includes/header.html"></include>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light nav-color container rounded">
    <a class="navbar-brand text-white" href="../../">Vadim's Dating Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<form action="#" method="post">
    <div class="container box-border">
        <h1>Interests</h1>
        <hr>
        <label><strong>In-door Interests</strong></label>
        <div class="row form-group">
            <div class="col-3 checkBoxPadding">
                <input type="checkbox" id="tv" name="tv" value="tv">
                <label for="tv">tv</label><br>
                <input type="checkbox" id="puzzles" name="puzzles" value="puzzles">
                <label for="puzzles">puzzles</label><br>
            </div>
            <div class="col-3 checkBoxPadding">
                <input type="checkbox" id="movies" name="movies" value="movies">
                <label for="movies">movies</label><br>
                <input type="checkbox" id="reading" name="reading" value="reading">
                <label for="reading">reading</label><br>
            </div>
            <div class="col-3 checkBoxPadding">
                <input type="checkbox" id="cookies" name="cookies" value="cookies">
                <label for="cookies">cookies</label><br>
                <input type="checkbox" id="playing cards" name="playing cards" value="playing cards">
                <label for="playing cards">playing cards</label><br>
            </div>
            <div class="col-2 checkBoxPadding">
                <input type="checkbox" id="board games" name="board games" value="board games">
                <label for="board games">board games</label><br>
                <input type="checkbox" id="video games" name="video games" value="video games">
                <label for="video games">video games</label><br>
            </div>
        </div>
        <label><strong>Out-door Interests</strong></label>
        <div class="row form-group">
            <div class="col-3 checkBoxPadding">
                <input type="checkbox" id="hiking" name="hiking" value="hiking">
                <label for="hiking">hiking</label><br>
                <input type="checkbox" id="walking" name="walking" value="walking">
                <label for="walking">walking</label><br>
            </div>
            <div class="col-3 checkBoxPadding">
                <input type="checkbox" id="biking" name="biking" value="biking">
                <label for="biking">biking</label><br>
                <input type="checkbox" id="climbing" name="climbing" value="climbing">
                <label for="climbing">climbing</label><br>
            </div>
            <div class="col-3 checkBoxPadding">
                <input type="checkbox" id="swimming" name="swimming" value="swimming">
                <label for="swimming">swimming</label><br>
            </div>
            <div class="col-2 checkBoxPadding">
                <input type="checkbox" id="collecting" name="collecting" value="collecting">
                <label for="collecting">collecting</label><br>
            </div>
        </div>
    </div>
</form>
</body>
</html>