<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interests</title>
    <include href="includes/header.html"></include>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light nav-color container rounded">
    <a class="navbar-brand text-white" href="../../">Vadim's Dating Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<form action="#" method="post">
    <div class="container box-border">
        <h1>Interests</h1>
        <hr>
        <label><strong>In-door Interests</strong></label>
        <div class="row form-group">
            <div class="col-3 checkBoxPadding">
                <repeat group="{{ @indoor }}" value="{{ @indoors }}">
                    <label><input type="checkbox" name="indoor[]" value="{{ @indoors }}"> {{ ucfirst(@indoors) }}</label><br>
                </repeat>
            </div>
        </div>
        <label><strong>Out-door Interests</strong></label>
        <div class="row form-group">
            <div class="col-3 checkBoxPadding">
                <repeat group="{{ @outdoor }}" value="{{ @outdoor }}">
                    <label><input type="checkbox" name="outdoor[]" value="{{ @outdoor }}"> {{ ucfirst(@outdoor) }}</label><br>
                </repeat>
            </div>
        <div class="col-12">
            <input href="interests/summary" class="form-group btn btn-primary float-right" type="submit" value="Next >">
        </div>
    </div>
</form>
</body>
</html>