<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <include href="includes/header.html"></include>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-color container rounded">
        <a class="navbar-brand text-white" href="../">Vadim's Dating Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="#" method="post">
        <div class="container box-border">
            <h1>Profile</h1>
            <hr>
            <div class="row form-group">
                <div class="col-6">
                    <label for="email"><strong>Email</strong></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="my_email@gmail.com">
                    <br>
                    <label for="state"><strong>State</strong></label>
                    <select id="state" class="form-control" name="state">
                        <option selected>CHOOSE ONE...</option>
                        <option value="Alabama">ALABAMA</option>
                        <option value="Alaska">ALASKA</option>
                        <option value="Arizona">ARIZONA</option>
                        <option value="Arkansas">ARKANSAS</option>
                        <option value="California">CALIFORNIA</option>
                        <option value="Colorado">COLORADO</option>
                        <option value="Connecticut">CONNECTICUT</option>
                        <option value="Delaware">DELAWARE</option>
                        <option value="Florida">FLORIDA</option>
                        <option value="Georgia">GEORGIA</option>
                        <option value="Hawaii">HAWAII</option>
                        <option value="Idaho">IDAHO</option>
                        <option value="Illinois">ILLINOIS</option>
                        <option value="Indiana">INDIANA</option>
                        <option value="Iowa">IOWA</option>
                        <option value="Kansas">KANSAS</option>
                        <option value="Kentucky">KENTUCKY</option>
                        <option value="Louisiana">LOUISIANA</option>
                        <option value="Maine">MAINE</option>
                        <option value="Maryland">MARYLAND</option>
                        <option value="Massachusetts">MASSACHUSETTS</option>
                        <option value="Michigan">MICHIGAN</option>
                        <option value="Minnesota">MINNESOTA</option>
                        <option value="Mississippi">MISSISSIPPI</option>
                        <option value="Missouri">MISSOURI</option>
                        <option value="Montana">MONTANA</option>
                        <option value="Nebraska">NEBRASKA</option>
                        <option value="Nevada">NEVADA</option>
                        <option value="New Hampshire">NEW HAMPSHIRE</option>
                        <option value="New Jersey">NEW JERSEY</option>
                        <option value="New Mexico">NEW MEXICO</option>
                        <option value="New York">NEW YORK</option>
                        <option value="North Carolina">NORTH CAROLINA</option>
                        <option value="North Dakota">NORTH DAKOTA</option>
                        <option value="Ohio">OHIO</option>
                        <option value="Oklahoma">OKLAHOMA</option>
                        <option value="Oregon">OREGON</option>
                        <option value="Pennsylvania">PENNSYLVANIA</option>
                        <option value="Rhode Island">RHODE ISLAND</option>
                        <option value="South Carolina">SOUTH CAROLINA</option>
                        <option value="South Dakota">SOUTH DAKOTA</option>
                        <option value="Tennessee">TENNESSEE</option>
                        <option value="Texas">TEXAS</option>
                        <option value="Utah">UTAH</option>
                        <option value="Vermont">VERMONT</option>
                        <option value="Virginia">VIRGINIA</option>
                        <option value="Washington">WASHINGTON</option>
                        <option value="West Virginia">WEST VIRGINIA</option>
                        <option value="Wisconsin">WISCONSIN</option>
                        <option value="Wyoming">WYOMING</option>
                    </select>
                    <br>
                    <label><strong>Seeking</strong></label>
                    <div>
                        <input type="radio" id="male" name="seeking" value="male">
                        <label for="male">Male</label>
                        <input type="radio" id="female" name="seeking" value="female">
                        <label for="female">Female</label>
                    </div>
                </div>
                <div class="col-6">
                    <label for="bio"><strong>Biography</strong></label>
                    <textarea class="form-control" id="bio" rows="5" name="bio" placeholder="Information about yourself..."></textarea>
                </div>
                <div class="col-12">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Next ></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>