<!--
*   Name: Vadim Balan
*   Date: 05/13/2020
*   Description: This is the summary page and puts all the information of the user
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Summary</title>
    <include href="includes/header.html"></include>
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light nav-color container rounded">
    <a class="navbar-brand text-white" href="/328/dating">Vadim's Dating Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container box-border">

    <div class="row">
        <div class="col-6 boxPadding">
            <ul class="list-group">
                <li class="list-group-item">Name: {{ @SESSION.fName }} {{ @SESSION.lName }}</li>
                <li class="list-group-item">Gender: {{ @SESSION.gender }} </li>
                <li class="list-group-item">Age: {{ @SESSION.age }}</li>
                <li class="list-group-item">Phone: {{ @SESSION.phone }}</li>
                <li class="list-group-item">Email: {{ @SESSION.email }}</li>
                <li class="list-group-item">State: {{ @SESSION.state }}</li>
                <li class="list-group-item">Seeking: {{ @SESSION.seeking }}</li>
                <li class="list-group-item">Interests:  {{ implode(@SESSION.indoor, " ") }} {{ implode(@SESSION.outdoor, " ") }}</li>
            </ul>
        </div>

        <div class="col-6 boxPadding text-center">
            <img src="/328/dating/images/profile.jpg" class="img-round" alt="No profile picture">
            <h4>Biography</h4>
            <p>{{ @SESSION.bio }}</p>
        </div>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-primary">Contact Me!</a>
    </div>

</div>

</body>
</html>