.box-border
{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.img-round
{
    border-radius: 10px;
}

.nav-color
{
    background-color: rgba(0,66,94,0.5);
}

.indent
{
    margin-left: 30px;
}

.checkBoxPadding
{
    margin-left: 20px;
}

.boxPadding
{
    margin-top: 30px;
}