.box-border
{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.img-round
{
    border-radius: 10px;
}

.nav-color
{
    background-color: rgba(0,66,94,0.5);
}